/* ==========================================================================
   ARQUIVO: theme.css
   SUMÁRIO:
   01. Variáveis de Cores
   02. Variáveis de Layout
   03. Sombras
   ========================================================================== */

/* ==========================================================================
   01. Variáveis de Cores
   ========================================================================== */

:root {
  --primary: #0d6efd;
  --primary-dark: #0a58ca;

  --secondary: #6c757d;
  --success: #198754;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #0dcaf0;
  --light: #f8f9fa;
  --dark: #212529;
}

/* ==========================================================================
   02. Variáveis de Layout
   ========================================================================== */

:root {
  --border-radius: 0.5rem;
}

/* ==========================================================================
   03. Sombras
   ========================================================================== */

:root {
  --shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --shadow-lg: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
